{:blocks (
{:block/created-at 1756490804653
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "68b1ea00-f211-40cb-bac6-5eebd31c09c1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.79999923706055]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "e4b26250-8502-11f0-bd25-4f64e1649946"
:noFill false
:point [-1944 -1544]
:parentId "68b1eb72-cbe3-4911-adb5-568e6f62bbf9"
:collapsedHeight 0
:nonce 1756490792183}}
:block/updated-at 1756490804653})
:pages (
{:block/uuid #uuid "68b1eb72-cbe3-4911-adb5-568e6f62bbf9"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68b1eb72-cbe3-4911-adb5-568e6f62bbf9"
:name "sql board"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("e4b26250-8502-11f0-bd25-4f64e1649946")}}
:block/updated-at 1756490804653
:block/created-at 1756490610102
:block/type "whiteboard"
:block/name "sql board"
:block/original-name "SQL board"})}