{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68b1eb72-cbe3-4911-adb5-568e6f62bbf9"}
:block/parent 
{:block/uuid #uuid "68b1eb72-cbe3-4911-adb5-568e6f62bbf9"}
:block/uuid #uuid "68b1ec73-6f46-44e1-a802-5f92610aac22"})
:pages (
{:block/uuid #uuid "68b1eb72-cbe3-4911-adb5-568e6f62bbf9"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68b1eb72-cbe3-4911-adb5-568e6f62bbf9"
:name "sql board"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1756490932368
:block/created-at 1756490610102
:block/type "whiteboard"
:block/name "sql board"
:block/original-name "sql board"})}